<body>
    <div class="dropzone">
      <div id="draggable" draggable="true">
        This can be dragged around.
      </div>
    </div>
    <div class="dropzone"></div>
    <div class="dropzone"></div>
    <div class="dropzone"></div>
    <div class="dropzone"></div>

    <div class="container">
      <div class="box">
         <div class="box__dragabble" draggable="true">
           <img src="https://tof.cx/images/2019/11/27/d36be6a99252a71a9c5a36e39fc3c2a7.jpg" alt="rose">
         </div>
      </div>
      <div class="box"></div>
    </div>
  </body>
