@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.tab-pane.active {
    animation: fade-in 0.9s ease-out;
}

ul {
  list-style-type: none;
}

.bible {
  margin-bottom: 0 !important;
}

.character-generals {
  font-size: 19px !important;
}

.reduced-container {
  max-width: 60vw;
  margin: 0 auto;
  position: relative;
}

.go-back-btn {
  position: absolute;
  left: -169px;
  top: 10px;
  color: grey;
}

.tab-pane {
  min-height: 50vh;
  max-height: 75vh;
  height: 60vh;
    transition: all 0.9s ease-in-out;
}

.charac-div {
  height: 100%;
}

.tab-content {
  min-height: 60vh;
  max-height: 75vh;
  background-color: white;

}

.table th, .table td {
  border: none;
}

#char-show {
  background-color: white;
  position: relative;
}

/* NAV - TABS */
.nav-link {
  text-decoration: none;
  color: $gray-600;
  &:hover{
    transition: all 0.1s ease-in-out;
    color: black;
    border-bottom: 1px solid black;
  }

  &.active {
    border-bottom: 2px solid black;
    color: black;
  }
}


.list-group-item {
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: $gray-600;
  &.actif {
    background-color: $gray-200;
    color: black;
  }
  p {
    margin: 0;
  }
}

.list-characters{
  height: 90%;
  overflow-y: scroll;
  // -ms-overflow-style: none;  /* Internet Explorer 10+ */
  // scrollbar-width: none;  /* Firefox */
}

.char-description {
  display: flex;
  height: 100%;
  position: absolute;
  transform: translate(100%);
  transition: all 0.9s ease-in-out;
  width: 100%;
  background: white;
}

.char-description.slide {
  transform: translate(0%);
  transition: all 0.9s ease-in-out;
}

.list {
  height: 100%;
}

.poubelle-char {
  margin-left: 20px;
  &:hover {
    cursor: pointer;
    // transform: scale(1.1);
    // transition: 0.4s;
      animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 500px;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}


.edit-delete-btns-char {
  margin: 10px;
}

#btn-addevent {
  position: relative;
}

#btn-addevent::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 50px;
  background: #040404;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  transition: all 0.5s ease;
}

#btn-addevent:hover::after {
  width: 75px;
  transition: all 0.5s ease;
}

.character-container {
  position: relative;
}

.character-container::after {

    position: absolute;
    content: "";
    height: 80%;
    width: 1px;
    background:

    black;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

#cross-add {
  margin-bottom: 6px;
}

.chara-event .fas {
  font-size: 10px;
  color: grey;
}


