ul {
  list-style-type: none;
}

.bible {
  margin-top: 20px;
}

.reduced-container {
  max-width: 75vh;
  margin: 0 auto;
}

.tab-pane {
  min-height: 50vh;
}

#char-show {
  min-height: 60vh;
  max-height: 75vh;
  background-color: white;
  position: relative;
}


/* TABS */
.nav-link {
  text-decoration: none;
  color: $gray-600;

  &.active {
    border-bottom: 2px solid black;
    color: black;
  }
}


.list-group-item {
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: $gray-600;
  &.actif {
    background-color: $gray-200;
    // border-bottom: 1px solid black;
    // border-top: 1px solid black;
    color: black;
  }
  p {
    margin: 0;
  }
}

a.char-item {
  text-decoration: none;
  color: $gray-600;
  display: block;
  &:hover {
    color: $gray-900;
  }
}

.char-description {
  display: flex;
  height: 100%;
  position: absolute;
  transform: translate(100%);
  transition: all 0.7s ease-in-out;
  width: 100%;
  background: white;
}

.char-description.slide {
  transform: translate(0%);
  transition: all 0.7s ease-in-out;
}

.name-active {            // Ne fonctionne pas :(
  background-color: red;  // Ne fonctionne pas :(
  color: red;             // Ne fonctionne pas :(
}                         // Ne fonctionne pas :(

// Create scroolBar and hide it
.list {
  overflow-y: scroll;
//   -ms-overflow-style: none;  /* Internet Explorer 10+ */
//   scrollbar-width: none;  /* Firefox */
// }
// .list::-webkit-scrollbar {
//     display: none;  /* Safari and Chrome */
}

.tab-content {
  background-color: white;
}

#exampleModal {
top:33%;
left: 5%;
outline: none;
}


