body {
  overflow-x: hidden;
}

.home-banner {
  background-size: cover;
  height: 100vh;
  margin-top: -60px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1485498128961-422168ba5f87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2002&q=80);
  background-position: top;
  background-size: cover;
}


// .home-banner::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   width: 380px;
  //   height: 279px;
  //   bottom: -40px;
  //   right: 1vw;
  //   background-image: image-url('StorizClub.png');
  //   background-size: contain;
  //   background-repeat: no-repeat;

  // }

.banner-content {
  vertical-align: middle;
  text-align: center;
  margin-top: 50vh;
  @media (max-width: 440px) {
    margin-top: 40vh;
  }
  @media (max-height: 500px) {
    margin-top: 35vh;
  }
  h1 {
    font-size: 75px;
    color: $white;
    font-family: $logo-font;
    font-weight: bolder;
    font-size: 6rem;
    margin-top: -10vh;
    letter-spacing: 2vh;
    @media (max-width: 440px) {
      font-size: 5rem;
    }
    @media (max-width: 340px) {
      font-size: 4rem;
    }
  }
  p {
    color: white;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 10px;
    margin-top:-10px;
    margin-bottom: 8vh;
  @media (max-width: 1150px) {
    margin-bottom: 4vh;
  }
  @media (max-width: 440px) {
    font-size: 20px;
  }
  }
  .signup {
    width: 220px;
    font-size: 1.3rem;
  }
}

.home-button {
  width: 18vw;
  min-width: 222px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lekton';
  font-size: 1.2rem;
  letter-spacing: 1px;
  border-radius: 3px;
  z-index:2;
  @media (max-width: 540px) {
    flex-wrap: wrap;
    min-width: 40vw;
    height: auto;
    padding: 7px 2px;
  }
}

.home-button-1 {
  background: $info;
  color: $success;
  &:hover {
    opacity:0.9;
    color: $success;
  }
}

.home-button-2 {
  border: 3px solid $success;
  color: $success;
  &:hover {
    opacity: 0.85;
    color: $success;
    border: 3px solid $info;
  }
}

.backcolor {
  background-color: #2a628f;
  opacity: 1;
  display: inline-block;
  font-style: italic;
  border-radius: 2px;
  padding: 5px;
}

#storiz-club {
  background-size: cover;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1533327325824-76bc4e62d560?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-position: top;
  background-attachment: fixed;
}

.banner-club {
  margin: 0 5vw 0 5vw;
  padding-top: 3vh;
  vertical-align: middle;
  text-align: center;
  min-height: calc(100vh - 60px);
  max-width: 100vw;
  // max-height: 100vh;
  h1 {
    font-size: 11vh;
    color: $white;
    font-family: $logo-font;
    font-weight: bolder;
    font-size: 6rem;
    text-align: center;
    letter-spacing: 2vw;
    margin-bottom: -2vh;
    @media (max-width: 440px) {
      font-size: 5rem;
    }
    @media (max-width: 340px) {
      font-size: 4rem;
    }
  }
  // p {
  //   color: white;
  //   font-size: 25px;
  //   font-family: 'Raleway', sans-serif;
  //   letter-spacing: 10px;
  //   margin-top:-10px;
  // }
}

.club {
  display: inline-block;
  margin-top: 65px;
}

.club-text {
  // position: absolute;
  // bottom: 126px;
  // right: 20px;
  cursor: pointer;
  font-family: 'Lekton';
  color: white;
  font-size: 1.2rem;
  transform: rotate(16deg);
  margin-left: 100px;
  margin-bottom: -20px;
}

#previous, #next {
  color: white;
  padding-top:20px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  cursor: pointer;
}

.club-text2 h4  {
  font-family: 'Lekton';
  color: $success;
  font-size: 1.5rem;
  background-color: $info;
  transform: rotate(16deg);
  padding: 10px;
  margin-right: 20px;
  margin-top: 40px;
  cursor: pointer;
}


.arrow-banner {
  height: 180px;
  width: 180px;
  transition: all 0.7s ease;
  transform: translate(30px, -10px);
  z-index: 1;
}

.club-call {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  @media (max-width: 1150px) {
    display:none;
  }
}

.club-mobile {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  text-align: center;
  width: 100%;
  color: white;
  &:hover {
    color: rgba(255, 255, 255, 0.729);
  }
  @media (min-width: 1150px) {
    display:none;
  }
  h5 {
    // background: $info;
  }
}

.club-btn:hover .arrow-banner {
  animation: arrowmove;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}

@keyframes arrowmove {
  0% {
    transform: translate(30px, -10px);
  transition: all 0.7s ease;
  }

  50% {
    transform: translate(30px, -5px) rotate(-2deg);
  transition: all 0.7s ease;
  }

  100% {
    transform: translate(30px, -10px);
    transition: all 0.7s ease;
  }
}


.club-btn {
  opacity: 1 !important;
}

.club-text2 h4 {
  text-align: center;
  margin-bottom: 0;
}


.help {
  color: white;
  font-size: 1.6rem;
  letter-spacing: 3px;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.home-project {
  font-size: 0.85rem;
  padding:0 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: left;
}

.not-carrousel {
  margin-top: -8vh;
  overflow: hidden;
}

.wrapper-cards {
  overflow: scroll;
  white-space: nowrap;
  overflow: hidden;
  /* transform: translate(-30px); */
}

.home-projects {
  display: flex;
  a {
    &:hover {
      opacity: 1;
    }
  }
  .project-card {
    margin-right: 15px;
    border: none;
    width: 250px;
    background: $success;
    display: inline-block;
    white-space: normal;
    transition: all 0.7s ease;
    &:first-child {
      margin-left: 0px;
    }
    &:hover {
      .project-pic {
        p {
          opacity: 1;
        }
      }
    }
  }
  .project-text {
    padding-top: 0.8rem;
    height: 18vh;
    // max-height: 120px;
    width: 250px;
    h5 {
      margin-bottom: 0.2rem;
    }
  }
  .project-pic {
    height: 17vh;
    // max-height: 138px;
    width: 250px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    position:relative;
    i {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 5px;
      background: $success;
      color: $info;
    }
    p {
      color:white;
      background: rgba(128, 128, 128, 0.425) ;
      position: absolute;
      bottom: -16px;
      left: 24px;
      padding: 0.9px 5px;
      opacity:0;
    }
  }
}

.home-categories {
  display: flex;
  justify-content: space-between;
  a {
    // margin-right: 30px;
  }
  .home-category {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 13vw;
    background: $success;
    // background-position: center;
    // background-size: cover;
    color: black;
    &:first-child {
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.club-cta {
  width: 22vw;
  min-width: 192px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lekton';
  font-size: 1.2rem;
  letter-spacing: 1px;
  border-radius: 3px;
  z-index:2;
  text-align: inherit;
  padding: 4px 10px;
  cursor: pointer;
  margin-bottom: 50px;
  @media (max-width: 540px) {
    flex-wrap: wrap;
    height: auto;
    padding: 10px 2px;
  }
}

.pop-projects {
  color: white;
  text-align: left;
  margin-left: 1vw;
  margin-top: 6vh;
}

.pop-categories {
  color: white;
  text-align: left;
  margin-left: 1vw;
  margin-top: 5vh;
}

.pagination {
  justify-content: flex-end;
}

.pagination p {
  font-size: 30px;
  cursor: pointer;
}

#previous {
  margin-right: 15px;
}


// .thriller {
//   background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1523712900580-a5cc2e0112ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
// }

// .comedy {
//   background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1472162072942-cd5147eb3902?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
// }

// .science-fi {
//   background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1446776858070-70c3d5ed6758?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
// }

// .fanfic {
//   background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551269901-5c5e14c25df7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
// }

// .adventure {
//   background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
// }

// .history {
//   background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1482401204742-eb3c31c24722?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1412&q=80);
// }

