body#projects-new {
  background: url("https://images.unsplash.com/photo-1555347873-e5410faa3d10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#projects-edit_pitch {
  background: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#projects-pitch {
  background: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#full-background {
  display: flex;
  height: calc(100vh - 60px);
}


.form-check input[type="radio"] {
  opacity: 0;
  width: 0;
}

.form-check label {
  display: inline-block;
  color: #18587a;
  padding: 10px 20px;
  font-family: "Lekton";
  font-size: 17px;
  // border: 1px solid #18587a;
  margin-top: 15px;
  margin-right: 15px;
  width: 150px;
}

// .form-check label:hover {
//   opacity: 0.5;
// }

.form-check input[type="radio"]:checked + label {

  color: #15b7b9;
}

input.transparent-input{
  background-color:transparent !important;
  border:none !important;
  font-size: 40px;
  font-family: 'Lekton', sans-serif;
  width: 600px;
}


// .blank-space {
// height:
// }

.title-form {
  width: 45%;
  margin-left: 45%;
  padding-top: 100px;
  p {
    color: #18587a;
    font-family: 'Lekton', sans-serif;
    font-size: 20px;
  }
}

#project_title:focus {
    box-shadow: none;
}

.transparent-input{
  background-color:transparent !important;
  border:none !important;
  font-size: 35px;
  font-family: 'Lekton', sans-serif;
}

#project_pitch:focus {
    box-shadow: none;
}

.pitch-form {
  width: 60%;
  margin-left: 50px;
  padding-top: 30px;
  textarea {
    width: 100%;
    height: 350px;
    resize: none;
  }
  p {
    color: #18587a;
    font-family: 'Lekton', sans-serif;
    font-size: 20px;
  }
  p.small {
    font-size: 16px;
  }
}

.custom-width-btn {
    width: 100px !important;
}

.btn-primary:hover {
  background-color: #15b7b9;
  border-color: #15b7b9;
}

.btn-primary{
  padding-top: 8px;
  padding-bottom: 8px;
}

.pitch-text {
  font-size: 20px;
  margin-top: 20px;
}

.small-edit {
  font-size: 12px;
  color: #15b7b9;
}
