trix-editor {
  // border: 1px solid #bbb;
  // border-radius: 3px;
  margin: 0;
  padding: 2rem 3rem;
  min-height: 50vh;
  height: 100%;
  outline: none;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 1;
}

trix-toolbar {
  position: sticky;
  top: -0.1px;
  padding:10px 10px 0 10px;
  background:#f4f4f4;
  // border-bottom: 1px solid #bbb;
  z-index: 2;
}
