<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://opelousaseunicepubliclibrarydotorg.files.wordpress.com/2015/07/book-background.jpg?w=917);">
  <div class="container">
    <h1>Your project title</h1>
  </div>
</div>

<br>
<br>

<div class="cards">

</div>

