    <h5 class="pop-projects">Popular projects</h5>
      <div class="not-carrousel">
        <div class="pagination d-flex">
          <div class="d-flex">
            <p id="previous"><</p>
            <p id="next">></p>
          </div>
        </div>
        <div class="wrapper-cards">
          <div class="home-projects">
            <%= render 'shared/home_cards' %>
          </div>
        </div>
      </div>
