<a href="#">
  <div class="home-category science-fi">
    Science-fi
  </div>
</a>
  <a href="#">
    <div class="home-category comedy">
      Comedy
    </div>
  </a>
  <a href="#">
    <div class="home-category thriller">
      Thriller
    </div>
  </a>
  <a href="#">
    <div class="home-category fanfic">
      Fan-fiction
    </div>
  </a>
  <a href="#">
    <div class="home-category adventure">
      Adventure
    </div>
  </a>
  <a href="#">
    <div class="home-category history">
      Historical
    </div>
  </a>
