<a href="#" class="project-card">
  <div class="project-pic" style="background-image: url('https://images.adsttc.com/adbr001cdn.archdaily.net/wp-content/uploads/2012/11/1354120669_1353349429_screen_shot_2011_03_29_at_5_09_52_pm_2.jpg')"><i class="fas fa-film"></i><p>Peter Weir</p></div>
  <div class="project-text">
    <h5 class="">The Truman Show</h5>
    <p class=" home-project">An insurance salesman discovers his whole life is actually a reality TV show.</p>
  </div>
</a>
<a href="#" class="project-card">
  <div class="project-pic" style="background-image: url('https://cdn.deindesign.com/resources/webMedia/ARTISTPAGE/IMAGE/teaser.artistid.491099826.jpg')"><i class="fas fa-book"></i><p>Antoine de St-Exupéry</p></div>
  <div class="project-text">
    <h5 class="">The Little Prince</h5>
    <p class=" home-project">A pilot crash his plane in the Sahara desert and try to fix it alone. The next morning, he's awaken by a young prince who asks « S'il vous plaît… dessine-moi un mouton !</p>
  </div>
</a>
<a href="#" class="project-card">
  <div class="project-pic" style="background-image: url('https://www.leberry.fr/photoSRC/VVNUJ1paUTgIBhVOCRAHHQ4zRSkXaldfVR5dW1sXVA49/france-fire-notre-dame_4416109.jpeg')"><i class="fas fa-book"></i><p>Victor Hugo</p></div>
  <div class="project-text">
    <h5 class="">The Hunchback of Notre-Dame</h5>
    <p class=" home-project">A hunchback who works in Notre-Dame loves a beautiful gipsy.</p>
  </div>
</a>
<a href="#" class="project-card">
  <div class="project-pic" style="background-image: url('https://www.belmontfilmhouse.com/sites/belmontfilmhouse.com/files/shows/2018/TheGodfather-02webcrop_0.jpg')"><i class="fas fa-film"></i><p>Francis Ford Coppola</p></div>
  <div class="project-text">
    <h5 class="">The Godfather</h5>
    <p class=" home-project">The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.</p>
  </div>
</a>
<a href="#" class="project-card">
  <div class="project-pic" style="background-image: url('https://cdn-www.konbini.com/fr/files/2015/04/the-wire-orange-couch_article_story_large-810x540.jpg')"><i class="fas fa-tv"></i><p>David Simon</p></div>
  <div class="project-text">
    <h5 class="">The Wire</h5>
    <p class=" home-project">The Baltimore drug scene, as seen through the eyes of drug dealers and law enforcement.</p>
  </div>
</a>
<a href="#" class="project-card">
  <div class="project-pic" style="background-image: url('http://www.welovecomedy.fr/wp-content/uploads/2015/05/le_grand_detournement-690x343.jpg')"><i class="fas fa-film"></i><p>Michel Hazanavicius</p></div>
  <div class="project-text">
    <h5 class="">The American Class</h5>
    <p class=" home-project">The most stylish man on earth dies with mysterious last words. Tenacious journalists starts an investigation.</p>
  </div>
</a>
<a href="#" class="project-card">
  <div class="project-pic" style="background-image: url('https://www.thenation.com/wp-content/uploads/2015/04/drstrangelove_flickr_img.jpg')">><i class="fas fa-film"></i><p>Stanley Kubrick</p></div>
  <div class="project-text">
    <h5 class="">Dr. Strangelove</h5>
    <p class=" home-project">An insane general triggers a path to nuclear holocaust that a War Room full of politicians and generals frantically tries to stop.</p>
  </div>
</a>
