<div class="presentation mb-4">
    <%# <div class="col-lg-4"> %>
      <p>Creators can ask for help</p>
      <%= cl_image_tag("undraw_steps_ngvm_eqxoxw", :class => "image-home") %>
    <%# </div> %>
  </div>
  <div class="presentation mb-4">
    <%# <div class="col-lg-4"> %>
      <p>Give some feedbacks or ideas</p>
      <%= cl_image_tag("undraw_google_docs_jf93_k9pcbm", :class => "image-home") %>
    <%# </div> %>
  </div>
  <div class="presentation mb-4">
    <%# <div class="col-lg-4"> %>
      <p>Be part of masterpieces creation</p>
      <%= cl_image_tag("undraw_wall_post_83ul_ekfvfm", :class => "image-home") %>
    <%# </div> %>
  </div>
