

<%= link_to "Start writing", new_project_path, class: "btn btn-primary m-5"%>
<h4>Projets en cours</h4>
<% @projects.each do |project| %>
  <ul>
    <li>
      <%= link_to project.title, project_path(project) %>
    </li>
  </ul>
<% end %>
