<h1>STORIZ</h1>
<p>Un site web qu'il est agréable pour écrire des trucs.</p>

<%= link_to "Nouveau projet", new_project_path, class: "btn btn-success m-5"%>

<h4>Mes projets en cours</h4>
<% @projects.each do |project| %>
  <ul>
    <li>
      <%= link_to project.title, project_path(project) %>
    </li>
  </ul>
<% end %>


