<div id="full-background2">
  <div class="pitch-form">
    <form class="simple_form edit_project" id=<%= "/edit_project_#{@project.id}"%> novalidate="novalidate" action=<%= "/projects/#{@project.id}"%> accept-charset="UTF-8" method="post">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="authenticity_token" value="AZWI8UK4p55m+nEhZdTYRRXjgDUa8eKNwUD2uZ87O1sdiQkibyrlsLmWx7mv/DpzedzMr2MXJfASVssVe6B0vA==">
      <div class="form-group text optional project_pitch" data-children-count="1">
        <textarea class="form-control text optional transparent-input " id="project_pitch" placeholder="Describe your project in a few words..." name="project[pitch]" id="project_pitch"></textarea>
      </div>
      <div class="row">
      <div class="col-12 offset-9">
      <input type="submit" name="commit" value="OK" class="btn btn btn-primary pr-5 pl-5 pt-2 pb-2" data-disable-with="OK">
      </div>
      </div>
    </form>
  </div>
</div>
