
<div class="projects-index-title">
  <h2>What are we working on today ?</h2>
</div>

<div class="projects-container">
  <% @projects.each do |project| %>
    <%= link_to project_path(project) do %>
      <div class="project-box mb-4">
        <p><% if project.category == "Book" %>
          <i class="fas fa-book"></i>
        <% elsif project.category == "Movie" %>
          <i class="fas fa-film"></i>
        <% else %>
          <i class="fas fa-tv"></i>
        <% end %>
        <strong><%= project.title %></strong></p>
      </div>
    <% end %>
  <% end %>
</div>

<!-- link_to project_path(project) do
  project.title -->

