
<div class="projects-index-title">
  <h2>What are we working on today ?</h2>
</div>

<div class="projects-container">
  <% @projects.each do |project| %>
    <div class="project-card">
      <div class="project-card-body">
        <h5 class="card-title"><%= project.title %></h5>
      </div>
      <div class="project-card-footer">
      <% updated = Time.now.strftime("%Y%j").to_i - project.updated_at.strftime("%Y%j").to_i %>
      <small class="text-muted">Last updated <%= updated %> days ago</small>
      </div>
    </div>
  <% end %>
</div>
