<div class="projects-index-title">
  <h2>What are we working on today ?</h2>
</div>

<div class="projects-container">
  <% @projects.order(:created_at).each do |project| %>
    <%= link_to project_path(project) do %>
      <div class="project-box mb-4">
        <p><% if project.category == "Book" %>
          <i class="fas fa-book"></i>
        <% elsif project.category == "Movie" %>
          <i class="fas fa-film"></i>
        <% else %>
          <i class="fas fa-tv"></i>
        <% end %>
        <strong><%= project.title %></strong></p>
        <% updated = Time.now.strftime("%Y%j").to_i - project.updated_at.strftime("%Y%j").to_i %>
        <p><small class="text-muted">Last updated <%= updated %> days ago</small></p>
      </div>
    <% end %>
  <% end %>
</div>
