
<div class="projects-index-title">
  <h2>SELECT A PROJECT</h2>
</div>

<div class="projects-index">
  <ul>
    <% @projects.each do |project| %>
      <li> <%= link_to project_bibles_path(project) do %>
        <%= project.title %> </li>
      <% end %>
    <% end %>
  </ul>
</div>

