<div id="full-background">
  <div class="pitch-form">
    <p class="ml-3"><strong>Good job. </strong>Now let's write your pitch.</p>
    <p class="ml-3 small">The key to crafting a great pitch is to stick to only the most important beats in the story. Approach it as if you had one minute to tell a friend about your fantastic movie idea.</p>
    <form class="simple_form edit_project" id=<%= "/edit_project_#{@project.id}"%> novalidate="novalidate" action=<%= "/projects/#{@project.id}"%> accept-charset="UTF-8" method="post">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="authenticity_token" value="AZWI8UK4p55m+nEhZdTYRRXjgDUa8eKNwUD2uZ87O1sdiQkibyrlsLmWx7mv/DpzedzMr2MXJfASVssVe6B0vA==">
      <div class="form-group text optional project_pitch" data-children-count="1">
        <textarea autofocus class="form-control text optional transparent-input " id="project_pitch" name="project[pitch]" id="project_pitch"></textarea>
      </div>
      <div class="row">
      <div class="col-1 ml-3">
      <input type="submit" name="commit" value="OK" class="btn start-btn pr-5 pl-5 pt-2 pb-2" data-disable-with="OK">
      </div>
      </div>
    </form>
  </div>
</div>
