
<div class="pitch-form">
  <h1><strong><%= @project.title %></strong>'s pitch <%= link_to "edit", project_pitch_edit_path(@project), class: "small-edit" %></h1>
  <div class="pitch-text">
    <%= @project.pitch %>
  </div>
</div>
