
<div class="pitch-form">
  <h1><%= @project.title %>'s pitch <%= link_to "edit", edit_project_path(@project), class: "small-edit" %></h1>
  <div class="pitch-text">
    <%= @project.pitch %>
  </div>
</div>
