
<h1 class="text-center cabin mt-3"> <%= @project.title %> <%= link_to "edit", edit_project_path(@project), class: "small-edit" %></h1>

<div class="pitch-form">
  <div class="pitch-text">
    <%= @project.pitch %>
  </div>
</div>
