<h1>SHOW CHARACTER</h1>

<div class="character-container">



  <div class="character-infos">   <!-- Partie supèrieure (infos générales et photo) -->
    <div class="character-image">
      <!-- INSRER IMAGE CARRE -->
    </div>

    <div class="character-basics">
      <div class="character-name">

      </div>
      <div class="character-description">

      </div>
      <div class="character-generals">

      </div>
    </div>
  </div>

<!-- Partie infèrieure (incrémentée par l'utilisateur) -->

</div>
