// .whole-section{
//   display: flex;
//   height: 500px;
//   width: 1100px;
//   background-color: white;
//   border-radius: 6px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

.character-container{
  overflow-y: scroll;
  width: 70%;
}

.character-infos{
  display: flex;
}

.character-image {
   margin: auto;
}

.charavatar{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  width: 120px;
  height: 120px;
}

.character-basics{
  flex-grow: 1;
}

.character-basics {
  h1 {
    font-family: 'Bitter', serif;
    font-size: 45px;
    letter-spacing: 3px;
  } p {
    font-family: 'Work Sans', sans-serif;
  } li {
    list-style: none;
  }
}

.character-generals{
  color: #565454;
}

.dashed-separator{
  border-top: 2px dashed #15b7b9;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
}


.right-part{
  height: 100%;
  width: 30%;
  border-left: 1px solid #15b7b9;
    h4 {
    font-family: 'Bitter', serif;
    text-align: center;
  }
}

.right-part-title{
  padding-top: 10px;
  height:10%;

}

.right-part-events{
  height:70%;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.right-part-events::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.right-part-add-event{
  height:20%;

}
