trix-editor {
  border: 1px solid #bbb;
  border-radius: 3px;
  margin: 0;
  padding: 0.4em 0.6em;
  height: 80em;
  outline: none;
  background: white;
}

trix-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}
