
$icon-attach: asset-url('images/attach.svg');
$icon-bold: asset-url('images/bold.svg');
$icon-bullets: asset-url('images/bullets.svg');
$icon-code: asset-url('images/code.svg');
$icon-heading-1: asset-url('images/heading_1.svg');
$icon-italic: asset-url('images/italic.svg');
$icon-link: asset-url('images/link.svg');
$icon-nesting-level-decrease: asset-url('images/nesting_level_decrease.svg');
$icon-nesting-level-increase: asset-url('images/nesting_level_increase.svg');
$icon-numbers: asset-url('images/numbers.svg');
$icon-quote: asset-url('images/quote.svg');
$icon-redo: asset-url('images/redo.svg');
$icon-remove: asset-url('images/remove.svg');
$icon-strike: asset-url('images/strike.svg');
$icon-undo: asset-url('images/undo.svg');
