.projects-index-title {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5vh;
  h2 {
  font-family: 'Cabin Sketch', sans-serif;
  color: #18587a;
  letter-spacing: 3px;
  font-size: 60px;
  }
}

body#projects-index {
  background: url("https://marketplace.canva.com/MADGyEsrVdY/4/screen_2x/canva-minimal-work-space---creative-flat-lay-photo-of-workspace-desk-w-MADGyEsrVdY.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.projects-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
}

.project-box {
  padding-top: 18px;
  border: solid 1px black;
  background-color: #E9EAE5;
  opacity: 0.9;
  text-align: center;
  border-radius: 2px;
  width: 450px;
  position: relative;
  .fa-trash-alt {
    opacity: 1;
  }
}

.project-box:hover {
  border-color: #15b7b9;
  .pictus {
    color: #15b7b9;
  }
}

.corbeille {
position: absolute;
top: 5px;
right: 5px;
color: grey;
  &:hover {
    color: #f57170;
  }
}


