.projects-index-title {
  margin-top: 40px;
  text-align: center;
  h2 {
  font-family: 'Lekton', sans-serif;
  color: #18587a;
  letter-spacing: 3px;
  font-size: 60px;
  }
}

body#projects-index {
  background: url("https://marketplace.canva.com/MADGyEsrVdY/4/screen_2x/canva-minimal-work-space---creative-flat-lay-photo-of-workspace-desk-w-MADGyEsrVdY.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.projects-index {
  display: flex;
  margin: 30px;
  margin-top: 80px;
}
