.projects-index-title {
  margin-top: 20px;
  text-align: center;
  h2 {
  font-family: 'Lekton', sans-serif;
  color: #18587a;
  letter-spacing: 3px;
  font-size: 60px;
  }
}

body#projects-index {
  background: url("https://marketplace.canva.com/MADGyEsrVdY/4/screen_2x/canva-minimal-work-space---creative-flat-lay-photo-of-workspace-desk-w-MADGyEsrVdY.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.projects-container {
  margin-left :30%;
  margin-right: 30%;
  margin-top: 30px;
}

.project-box {
  padding-top: 18px;
  border: solid 1px black;
  background-color: #E9EAE5;
  opacity: 0.7;
  text-align: center;
  border-radius: 2px;
}

.project-box:hover {
  border-color: #15b7b9;
  .fas {
    color: #15b7b9;
  }
}
