.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

body {
  background-image: url(https://images.unsplash.com/photo-1562037283-072818fb6d8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1987&q=80);
}
