.index {
  width: 200px;
  background: white;
  border-radius: 3px;
  height: 100%;
  position: sticky;
  top:10px;
  li {
    margin-top:18px;
    list-style: none;
  }
}

.editor {
  width: 900px;
  margin-bottom: 20px;
}
