.indexx {
  position: sticky;
  top:50px;
  height: 100%;
}

.index {
  width: 200px;
  background: white;
  border-radius: 5px;
  height: 100%;
  max-height: calc(100vh - 270px);
  overflow-y: scroll;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  li {
    margin-top:18px;
    list-style: none;
  }
  .index-btn {
    display: inline-block;
  }
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.index::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.tab-content {
  background-color: white;
}


.editor {
  min-width: 600px;
  width: 60vw;
  margin-bottom: 20px;
}

.update-btn {
  display: none;
}

.edit-btn {
  margin-left:20px;
}

.confirm-btn {
  margin: 0;
}

.delete-btn {
  margin: 0;
}

.scene-bible {
  font-family: 'Lekton', sans-serif;
  margin-left: 20px;
  position: sticky;
  position: -webkit-sticky;
  top: 50px;
  height: 400px;
  width: 256px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  display: block;
  border-radius: 5px;
}

.bible-events-title {
 text-align: center;
 margin-top: 15px;
}

.bible-events {
  margin-left: 13px;
  height: 330px;
  overflow-y: scroll;
}

