.elements-container {
  width: 100vw;
}

.indexx {
  position: sticky;
    position: -webkit-sticky;

  left: 0;
  top:50px;
  height: 100%;
  // width: 220px;
  min-width: 17vw;
  max-width: 250px;
}

.index {
    min-width: 17vw;
  max-width: 250px;
  background: white;
  // border-radius: 5px;
  height: 100%;
  max-height: calc(100vh - 280px);
  overflow-y: scroll;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  li {
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  &:hover {
    .fa-trash-alt {
    opacity: 1;
  }
}
  }
  .index-btn {
    display: inline-block;
  }
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.index::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.tab-content {
  background-color: white;
}

.editor {
  min-width: 58vw;
  // flex-grow: 1;
  // max-width: 58vw;
  margin: 0 1rem 1rem 1rem;
}

.update-btn {
  display: none;
}


.confirm-btn {
  margin: 0;
}

.form-new-scene {
  width: 200px;
  margin-right: -200px;
}

.fa-trash-alt {
  font-size: 0.8rem;
  opacity: 0;
}

.back-btn {
  color: $info;
}

.scene-number {
  margin-left: 260px;
}

.input-new {
  padding-left: 10px;
  text-align: center;
}
