.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  height: 60px;
}

.navbar-transparent {
  justify-content: space-between;
  background: transparent;
  height: 60px;
}

.logo-transparent {
  width: 0px !important;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 70px;
}

.navbar-brand-center img {
  width: 105px;
}


body#projects-new .navbar-lewagon, body#projects-edit_pitch .navbar-lewagon  {
  background: transparent;
}

.nav-imp {
  color: #f57170;
}

.nav-jaune {
  color: #FFC659;
}

.nav-info {
  color: $info;
}

.redd {
  color: #f57170;
}


.navbar-left-items {
  display: flex;
  width: 20vw;
  p {
    color: transparent;
    cursor: default;
  }
}

.navbar-right-items {
  width: 20vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.righty {
  justify-content: right;
}

.navbar-logo-centered {
  text-align: center;
}

.navbar-brand, .navbar-brand-center {
  margin: 0 !important;
}
