.scene-bible {
  font-family: 'Lekton', sans-serif;
  margin-left: 20px;
  margin-right: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 50px;
  min-height: 400px;
  height: 70vh;
  max-width: 300px;
  min-width: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  display: block;
  // border-radius: 5px;
}

.bible-events-title {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.bible-events {
  height: 75%;
  overflow-y: scroll;
}

.scene-search-form {
  width: 80%;
  margin: 0 auto;
}

.search-scene-details {
  transform: translatey(100%);
  min-height: 0px;
  background: white;
  display: none;
  transition: all 0.6s ease;
}

.search-scene-details.slideY {
  transform: translatey(0%);
  min-height: auto;
  transition: all 0.6s ease;
}

.hide-details-scene-bible {
  cursor: pointer;
  height: 30px;
}

.search-scene-results {
  cursor: pointer;
  padding: 5px;
  &:hover {
    color: $gray-600;
  }
}

#bible-scene-show {
  padding: 0px 15px 15px 15px;
}

.character-container-scene {
  padding: 10px;
  width: 120%;
  padding-top: 0 !important;
}

.btn-addevent-scene {
  border-radius: 0 !important;
  border-left: 0;
  border-right: 0;
}

#btn-search-bible-scene {
  border-radius: 0 2px 2px 0;
}

#input-search-bible-scene {
  border-radius: 2px 0 0 2px;
  border-right: none;
}

.hide-results-bible-scene {
  opacity: 0%;
  transition: all 0.6s ease;
}

.scene-bible-search {
  margin-bottom: 15px;
}
