.scene-title {
  // font-family: 'Cabin Sketch';
  // margin-bottom: 35px;
  transform: scale(1.5);
  margin-left: 30px;
}

.scene_title {
  width: 300px;

}

.scenes-list {
  font-family: 'Cabin Sketch';
}

.relative-title {
    position: relative;
}

.absolute-title {
  position: absolute;
  left: 80px;
  top: 10px;
  color: grey;
}

.title-club {
  margin-top: 5vh;
}
