// Specific CSS for your home-page
.presentation {
  box-shadow: 0 0 5px rgba(121, 121, 121, 0.63);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  min-height:300px;
  height: 45vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-clip:padding-box;
  border: 1px solid rgba(151, 151, 151, 0.603);
  img {
    min-height: 180px;
    height: 28vh;
  }
}

.presentation p {
  color: white;
  padding-bottom: 0px;
  font-size: 1.3rem;
}

.image-home {
  margin: auto;
  padding: 10px;
  border-radius: 10px;
}

@media (min-width: 100px) and (max-width: 310px) {
  .presentation {
    width: 100%;
    flex-grow:1;
    height: 100%;
    img {
      // height: 100%;
    }
  }
}

@media (min-width: 100px) and (max-width: 768px) {
  .presentation {
    width: 100%;
    flex-grow:1;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .presentation {
    width: 45%;
  }
}
