#moods-show .container-fluid {
 padding: 0 !important;
 position: relative;
 // height: calc(100vh - 225px);
 overflow: none;
}


.moodimages{
  height: 0px;
  // must equal navbar height can't use calc with $variable
}

.moodimage {
  height: 0px;
}

// #new_mooditem{
//   bottom: 10px;
//   position: absolute;
// }

.resize-container {
    position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.resize-container img {
    display: block;
}

.resize-container:hover img,
.resize-container:active img {
    outline: 2px dashed $info;
}

.resize-container:active:hover:focus img {
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  position:relative;
  z-index:5;
}

.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    // background: orange;
    z-index: 999;
}

.resize-handle-nw {
    top: 0px;
    left: 0px;
    cursor: nw-resize;
    // background: blue;
}
.resize-handle-sw {
    bottom: 0px;
    left: 0px;
    cursor: sw-resize;
    // background: blue;
}
.resize-handle-ne {
    top: 0px;
    right: 0px;
    cursor: ne-resize;
    // background: blue;
}
.resize-handle-se {
    bottom: 0px;
    right: 0px;
    cursor: se-resize;
    // background: blue;
}

.mood-form {
  // width: 60%;
  margin-left: 50px;
  // padding-top: 30px;
  margin-top: 1rem !important;
  margin-bottom: 0.5rem !important;
  textarea {
    width: 100%;
    height: 350px;
    resize: none;
  }
  p {
    color: #18587a;
    font-family: 'Lekton', sans-serif;
    font-size: 20px;
  }
  p.small {
    font-size: 16px;
  }
}

body#moods-show {
  background: url("https://marketplace.canva.com/MADGyEsrVdY/4/screen_2x/canva-minimal-work-space---creative-flat-lay-photo-of-workspace-desk-w-MADGyEsrVdY.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
}

.reduced-container {
  max-width: 60vw;
  margin: 0 auto;
  position: relative;
}

#fixedModalButton {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: fixed;
  bottom: 60px;
  right: 100px;
  font-size: 54px;
  border: 2px solid $info;
  color: $info;
  padding: 0;
  margin: 0;
  p {
    width: 76px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
}


#fixedModalButton:hover p,
#fixedModalButton:focus p,
#fixedModalButton:active p {
  // -webkit-transform: scale(1.75);
  // -moz-transform: scale(1.75);
  // -o-transform: scale(1.75);
  // -moz-transition:-moz-transform .15s linear;
  // -o-transition:-o-transform .15s linear;
  // -webkit-transition:-webkit-transform .15s linear;
  transform: scale(1.45);
  transition: all 0.15s ease-in-out;
}

.mood-modal{
  height: 100px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w-100 {
    width: 100% !important;
}

/////////////////////////////////////////////////////////////////

#postits-1 {
  position: absolute;
  bottom: 0px;
  left: 5px;
}

#postits-2 {
  position: absolute;
  top: 0px;
  right: 5px;
}

.postit {
*{
  margin:0;
  padding:0;
}
body{
  font-size:100%;
  margin:3em;
  background:#666;
  color:#fff;
}
h2,p{
  font-size:100%;
  font-weight:bolder;
}
ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:3em;
}
ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:12rem;
  width:12rem;
  padding:0.5em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
ul li{
  margin:1em;
  float:left;
}
ul li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
ul li p{
  font-family: 'Indie Flower', cursive;
  // font-size:1.3rem;
}
ul li a{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
ul li:nth-child(6n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
ul li:nth-child(6n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}ul li:nth-child(7n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}ul li:nth-child(8n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
  opacity:1;
}
ol{text-align:center;}
ol li{display:inline;padding-right:1em;}
ol li a{color:#fff;}
}



///////////////////////////////////////////////////////

.embeddedvideo {
  position: absolute;
  bottom: 60px;
  right: 200px;
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
}

.embeddedvideo :hover, .embeddedvideo :focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
  position:relative;
  z-index:5;
}

.embeddedvideo {

 margin-left: 50px;
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
}
