#moods-show .container-fluid {
 padding: 0 !important;
}


.moodimages{
  height: 0px;
  // must equal navbar height can't use calc with $variable
}

.moodimage {
  height: 0px;
}


#new_mooditem{
  bottom: 10px;
  position: absolute;
}

// .iframe-container{
//   position: relative;
//   width: 100%;
//   padding-bottom: 56.25%;
//   height: 0;
// }
// .iframe-container iframe{
//   position: absolute;
//   top:0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }

.resize-container {
    position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.resize-container img {
    display: block;
}

.resize-container:hover img,
.resize-container:active img {
    outline: 2px dashed rgba(222,60,80,.9);
}
.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: orange;
    z-index: 999;
}

.resize-handle-nw {
    top: 0px;
    left: 0px;
    cursor: nw-resize;
    background: blue;
}
.resize-handle-sw {
    bottom: 0px;
    left: 0px;
    cursor: sw-resize;
    background: blue;
}
.resize-handle-ne {
    top: 0px;
    right: 0px;
    cursor: ne-resize;
    background: blue;
}
.resize-handle-se {
    bottom: 0px;
    right: 0px;
    cursor: se-resize;
    background: blue;
}

.mood-form {
  width: 60%;
  margin-left: 50px;
  padding-top: 30px;
  textarea {
    width: 100%;
    height: 350px;
    resize: none;
  }
  p {
    color: #18587a;
    font-family: 'Lekton', sans-serif;
    font-size: 20px;
  }
  p.small {
    font-size: 16px;
  }
}

body#moods-show {
  background: url("https://marketplace.canva.com/MADGyEsrVdY/4/screen_2x/canva-minimal-work-space---creative-flat-lay-photo-of-workspace-desk-w-MADGyEsrVdY.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
}

.reduced-container {
  max-width: 60vw;
  margin: 0 auto;
  position: relative;
}
